body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 1px solid purple;

}
#delete-btn{
    background: white;
    color: purple;
    padding: 10px 15px;
    border: 1px solid;
    border-color: purple;
    border-radius: 20px;
    font-weight: bold;
}

#input-btn {
    background: purple;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
}
ul{
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}
li{
    margin-top: 5px;
    list-style: none
}
ul a{
    color: purple;
   
}